.individualCoursesContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    /*height: 80vh;*/
}

.infoContainer {
    flex: 1;
    margin: 20px;
}

.img {
    width: 100%;
    min-width: 200px;
}

#tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imageAndTableContainer {
    display: flex;
    flex-wrap: wrap;
}

.dateTit {
    margin-bottom: 0;
    margin-top: 10px;
}

.dateDisp {
    margin: 0;
}
#startDateTit {
    margin: 0;
}

.descTit {
    text-align-last: left;
    margin-bottom: 0;
}
.descPar {
    margin-top: 0;
}