.individualCoursesContainer {
    display: grid;
    grid-template-rows: 10% 50% auto;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    flex: 1;
    /*width: 50vw;*/
}

.header {

}
.img {
    width: 45%;
}
.imageAndTableContainer {
    display: flex;
}