.profilePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("../assets/boxes.svg");
    box-shadow: 0 0 20px 20px white inset;
    height: 90vh;
    padding: 0 1rem;
}

.profilePicture {
    margin-bottom: 48px;
}

.profileCard {
    padding: 3rem;
    background-color: rgba(49, 63, 81, 0.85);
    border-radius: 20px;
}

.ds-simple-table {
    color: white;
}